
<footer style="height: 80px; background-color: black; margin-top:auto ; color: white;" 
class=" d-flex align-items-center justify-content-center">
<p>© 2025 UMS. All rights reserved.</p>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>