<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>
</head>
<body>
    <h1>Reset your password</h1>
    <form action="/api/user/forget" method="post">
        <label for="email">Email</label>
        <input type="email" placeholder="Enter your registered Email" name="email"> <br><br>
        <button type="submit"> Send Mail</button>
    </form>
    <% if (typeof message !== "undefined") { %>
    <p id="msg" style="color:red"><%= message %></p>
   <% }  %>
   <script>
    setTimeout(()=>{
    document.getElementById('msg').style.display = "none"
  },2000)
  </script>
</body>
</html>