<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("../partials/header") %>
    <div class="h-100">
        <h1>Password Reset Page</h1>
    <form action="/api/user/forget-password" method="post">
        <label for="password">Password</label>
        <input type="hidden" name="user_id" value="<%= user_id %>" >
        <input type="password" name="password" placeholder="Enter new Password">
        <button type="submit">Reset</button>
    </form>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>