<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>
</head>
<body>
    <h1>Email verify page</h1>
    <form action="/api/user/verify-email" method="post">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="Enter Email">
        <button type="submit">Send Link</button>
    </form>
    <% if (typeof message !== "undefined") { %>
        <p id="msg"><%= message %></p>
        <script>
          setTimeout(()=>{
          document.getElementById('msg').style.display = "none"
        },3000)
        </script>
      
      <% } %>
</body>
</html>